.similar-container{
    width: 100vw;
    padding-top: 4vh;
}
.similar-card-container{
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.similar-container .similar-heading{
    text-align: left;
    padding-inline-start: 8vw;
    font-weight: 400;
    font-family: var(--ff-h);
    font-size: 3vh;
}

@media (min-width:200px) and (max-width:580px){
    .similar-card-container{
        justify-content: center;
        padding: 0;
    }
    .similar-container .similar-heading{
        font-size: 6vw;
    }
}