.nav-container{
    width: 100vw;
    height: max(7vw,100px);
    display: flex;
}
.logo{
    padding-left: 7vw;
    padding-top: 3.5vh;
    height: 100%;
    width: 30% ;   
    color: black;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.logo h1{
    font-size: 3vw;
    font-family: var(--ff-h);
    font-weight: 700;
}
.dumbbel{
    width: 100%;
}
.routes{
    height: 100%;
    width: 70%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5%;
    padding-right: 10vw;
}
.Link{
    text-decoration: none;
    font-family: var(--ff-h);
    font-size: max(1.1vw,20px);
    font-weight: 600;
    color: black;
    position: relative;
    overflow: hidden;
}
.Link::after{
    content: '';
    display: block;
    height: 4px;
    background-color: red;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: 0;
}
/* .routes span::after{
    content: '';
    display: block;
    height: 4px;
    background-color: red;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: 0;
}
.routes span{
    font-family: var(--ff-h);
    font-size: 20px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    display: block;
    position: relative;
} */
.routes span{
    cursor: pointer;
}
.routes span:hover::after{
    transform: scaleX(1);
}
.dropdown-list{
    position: absolute;
    top: 3vh;
    margin-top: 1vh;
    display: none;
    font-family: var(--ff-h);
    font-weight: 700;
    font-size: max(1vw,15px);
    padding-top: 1vh;
    padding-right: 0.5vw;
    width: 290px;
    z-index: 3;
    background-color: white;
}
.dropdown{
    position: relative;
    transition: all 20s;
}
.dropdown:hover .dropdown-list{
        display: block;
}
.dropdown a{
    display:block;
    padding-top: 1.25vh;
    transition: all 0.3s;
}
.dropdown a:hover{
    font-size: 23px;
}
.Link:hover::after{
    transform: scaleX(1);
}

@media (min-width:200px) and (max-width:580px){
    .nav-container{
        height: 15vw;
    }
    .dropdown:active .dropdown-list{
        display: block;
    }
    .logo{
        width: 40%;
        padding-inline: 15px;
        padding-top: 0;
        align-items: center;
    }
    .logo h1{
        font-size: 5vw;
    }
    .routes .Link{
        font-size: 3vw;
    }
    .dropdown-list{
        width: 130px;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
        font-size: 15px;
        left: -30px;
    }

}
