.container{
    width: 100%;
    height: 60vh;
    display: flex;
    padding-left: 5vw;
    flex-wrap: wrap;
}
.image{
    height: 65vh;
    width: 45%;
    display: flex;
    padding-top: 5vw;
    padding-left: 7vw;
    align-items: center;
    justify-content: flex-start;
}
.image img{
    width: 70%;
    height: auto;
    border-radius: 40px ;
    display: block;
    z-index: 2;
}
.text{
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15vh;
    gap: 0vh;   
    padding-right: 20vw; 
}
.text h1{
    font-family: var(--ff-h);
    font-size: 100px;
    line-height: 100px;
    padding-bottom: 4vh;
    font-weight: 400;
}
.text p{
    font-family: var(--ff-p);
    font-size: 23px;
    padding-bottom: 3vh;
}
.subtext{
    height: 20vh;
    z-index: -1;
    padding-left: 47vw;
    font-family: var(--ff-l);
    font-size: 8.9vw;
    color: #ffe9e9;
    padding-top: 0vh;
}
.subtext span:hover{
    color: #ffc3c4;
}
.explore-button{
    background-color: black;
    width: 8vw;
    height: 6vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}
.explore-button:hover{
    border: white solid 2px;
    outline: black solid 2px;
}
.btn-txt{
    font-family: var(--ff-p);
    text-decoration: none;
    color: white;
    font-size: 0.9vw;
    font-size: 700;
}
@media (min-width:200px) and (max-width:1000px){
    .container{
        padding: 0px;
    }
    .image{
        width: 100%;
        padding: 35px;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .image img{
        width: 100%;
        max-width: 600px;
        height: auto;
        border-radius: 20px;
    }
    .text{
        display: flex;
        width: 100vw;
        height: auto;
        padding-top: 0px;
        padding-inline: 17vw;
        padding-bottom: 10px;
    }
    .text h1{
        font-size: 60px;
        padding: 0;
    }
    .text p{
        font-size: 20px;
    }
    .explore-button{
        width: 36vw;
        max-width: 160px;
        margin-bottom: 100px;
    }
    .btn-txt{
        font-size: min(20px,4vw);
    }
    .subtext{
        display: none;
    }
}